@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@500;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color:  #f9f8f8;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
}



.container {
    background-color:#fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.104);
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 400px;
    height:auto;
    /* margin-top: 80px; */
}

.form-control {
    border: 1px solid gray;
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    border-radius: 5px;

}

.btn-login {
    background-color: #ff97cb;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: rgb(248, 92, 144);
}


label {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.container h1.login-heading{
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #464646;
}

.container .login-subheading{
    font-size: 14px;
}

.container .login-to-signup{
    font-size: 14px;
}

.container form input::placeholder{
    font-size: 14px;
}