@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.form-main-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding:60px 30px 30px 20px ;
    background-color: #f9f8f8;
    overflow: hidden;
}

.form-image-box{
     width: 53%;
     height: 620px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.form-image-box img{
    object-fit:cover;
    width: 90%;
    height: 95%;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.14);
}

.form-content-box{
    width: 46%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-content-box form{
    border: 2px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    max-width: 550px;
    width: 100%;
    background-color: #fff;
    position: relative;
}

form h3.form-main-heading{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    color: #585858;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 20px;
}

form .form-content{
    padding: 20px;
    /* border: 3px solid yellowgreen; */
}

.form-content-box .form-first{
  /* border: 2px solid springgreen; */
  position: relative;
  /* opacity: 0; */
}

.form-content h4.form-sub-heading{
    font-size:1.8rem ;
    color: #585858;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-content .input-field{
  /* border: 1px solid palevioletred; */
  margin-bottom: 40px;
}

.form-content .input-field.margin-btm{
  margin-bottom: 10px;
}

.input-field input::placeholder{
    color:rgb(30, 30, 30);
}

#marry-country-input::placeholder{
  font-size: 14px;
}

.form-content .input-field input{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #9c9c9c;
    font-size: 1rem;
    color: #4d4d4d;
    padding: 10px 5px 5px 0px;
}



.form-content-box .form-buttons{
  /* border: 2px solid brown; */
  display: flex;
  gap: 1rem;
  margin-top: 20px;
  margin-bottom: 18px;
}

.form-buttons .form-btn{
    padding: 8px 25px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    background-color:#f83a83;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.common-btn:hover{
    background-color: #f40561;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.156);
}

.form-buttons button img.right-arrow{
  margin-top: -3px;
  margin-left: 3px;
}

.form-buttons button img.left-arrow{
  margin:0px 2px 1px -7px;
  transform: rotate(180deg);
}

.form-content p{
    text-align: center;
    color: #4d4d4d;
    padding-top: 15px;
}

.form-content p a{
    color: #f2337c;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 5px;
  
}

/* Custom Check Box */

/* The container */
.container-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom:25px;
    cursor: pointer;
    font-size:1rem;
    color: #4d4d4d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius:3px;
  }
  
  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
    background-color: black;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  form .form-second label.date-checkbox{
    margin-bottom: 40px;
  }

 .form-second{
  position: absolute;
  width: 100%;
  top: 100px;
  background-color: #fff;
  transform: translateX(300px) ;
  visibility: hidden;
  transition: transform 0.4s ;
  bottom:1px;
 }

 .show-next-form{
  visibility: visible;
  z-index: 2;
  opacity: 1;
  transform: translateX(0px) scale(1);
 }

 .hide-first-form{
  opacity: 0;
 }

 /* Validations styling */

 .validation-error{
  font-size: 14px;
  color: red;
 }

 .validation-password-error{
  margin-bottom: 30px;
 }

 .validation-password-error p{
  text-align: left;
  font-size: 12px;
  margin-bottom: 1px;
 }

 form .form-first .reg-password{
  position: relative;
 }

 .reg-password img#eye-password{
  position: absolute;
  top: 14px;
  right: 30px;
  height: 16px;
 }

 /* Modal popup styling */

 /* CSS for the modified modal */

.modal {
  visibility: hidden;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height:0%;
  overflow: hidden;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.modal-box {
  background-color: #fefefe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  height: 250px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.618); 
  text-align: center; 
  
}

.modal .modal-box img{
  margin-bottom: 15px;
  height:64px;
  width: 64px;

}

.modal .modal-box h4{
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.modal .modal-box p{
  font-size: 1.1rem;
  margin-bottom:30px;
}

.modal .modal-box a #okButton {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  background-color:#5cc57e; /* Pink background color */
  border: none;
  padding: 8px 80px;
  border-radius: 5px; /* Rounded button corners */
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ;
}



.modal .modal-box a #okButton:hover {
  background-color: #53b070; 
}

.modal.slide-up {
  height: 100%; 
  transition: 0.3s;
}
