@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&family=Poppins:wght@300;400;500;600;700;800&family=Ubuntu:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Ubuntu', sans-serif */
}

.common-btn {
    background-color: #f24788;
    padding: 10px 12px;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.common-btn a {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.common-btn:hover {
    background-color: #f40561;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.156);
}

.max-width {
    max-width: 1300px;
    width: 100%;
    /* border: 7px solid green; */
    padding: 0px 40px;
    margin: auto;
}

.main-navbar {
    background-color: #da89a3;
    padding: 15px 0;
    /* position:static; */
}

.main-navbar .logo span {
    color: #f40561;
}

.main-navbar {
    position: fixed;
    padding: 5px 0;
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease;
    /* top: 0; */
}

.home-body .main-navbar {
    background: transparent;

}

.main-navbar.sticky {
    background-color: rgba(255, 255, 255, 0.87);
    /* padding: 10px 0; */
}

.main-navbar.sticky {
    background-color: rgba(0, 0, 0, 0.242);
    backdrop-filter: blur(2px);
    padding: 10px 0;
}

.main-navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main-navbar .logo {
    font-size: 3rem;
    color: white;
    /* font-family: 'Ubuntu', sans-serif ; */
    font-family: 'Dancing Script', cursive;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.301);
}

.main-navbar .logo span {
    font-size: 3.2rem;
    color: #ffb1cf;
    font-family: 'Dancing Script';
}
 
.main-navbar li {
    display: inline-block;
}

ul.nav-links {
    margin: 0;
}

.main-navbar li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.main-navbar .nav-links li {
    margin-left: 30px;
}

.main-navbar .nav-btns li {
    margin-left: 15px;
}

.main-navbar li {
    transition: text-decoration 1s ease-in-out;
}

.underline-hover {
    position: relative;
    padding-bottom: 3px;
    cursor: pointer;
}

.underline-hover::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.underline-hover:hover::before {
    width: 100%;
}

.main-navbar .nav-btns {
    margin-top: 10px;
}

.reg-btn {
    font-size: 1rem;
    background: transparent;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.156);
    transition: all 0.3s ease;
    text-transform: uppercase;
    cursor: pointer;
}

.reg-btn:hover {
    background-color: #ed3b80;
    box-sizing: border-box;
    /* border: #f40561; */
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.292);
}


/* menu button styling */

.main-navbar .menu-btn {
    z-index: 9;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}


/* Hero Box section styling ----------*/


/* @media (max-width: 1000px) {
    .hero-section {
        padding: 100px 50px;
    }
}

@media (max-width: 600px) {
    .hero-section {
        padding: 125px 30px;
    }
} */

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    /* padding: 100px; */
}

.hero-section video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}

.hero-section h3 {
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.hero-section h4 {
    font-size: 2rem;
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 30px;
}

.hero-section .hero-btn {
    background: transparent;
    padding: 10px 12px;
    border: 2px solid #fff;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hero-section .hero-btn:hover {
    background-color: #ed3b80;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.156);
}

.hero-section button a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 500;
}

.hero-section a.boxbtn:hover {
    background: #f24788;
    color: #000;
}


/* Trending (image sliders) section styling ----------- */
/* Fatima has written trending css in style as well as in slider.css */



/* About section styling ---------*/


.about-section {
    /* border: 2px solid black; */
    padding: 50px 20px;
    /* background-color: #ebebeb; */
}


.about-section .max-width {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.133);
    padding: 20px 10px;
}

.about-section .about__image {
    width: 45%;
}

.about__image img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px #0000002c;

}

.about-section .about__text {
    width: 45%;
    /* border: 4px solid crimson; */
}

.about-section .about__text h3 {
    font-size: 3rem;
    color: #4a4a4a;
    font-family: 'Lobster', cursive;
    padding-bottom: 10px;
}

.about__text p {
    padding-bottom: 10px;
    text-align: justify;
    color: black;
}

.about__text button {
    margin-left: -5px;
}

/* service section styling -----------*/

/* .service-sec{
    border: 3px solid crimson;
} */

.service-sec .service-sec__heading {
    font-size: 3.5rem;
    color: #4a4a4a;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 20px;
}

.service-sec .service-sec__subheading {
    font-size: 2rem;
    color: #4a4a4a;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-bottom: 30px;
}

.service-sec__main-box {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.service-sec__1,
.service-sec__2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    /* border: 4px solid green; */
}

.service-sec__content-box {
    border: none;
    border-radius: 10px;
    /* background: linear-gradient(to bottom, #ff99ff 0%, #ff6699 100%); */
    /* background: linear-gradient(to bottom, #ffccff 0%, #ff6699 100%); */
    background: linear-gradient(to bottom, #ffccff 0%, #ff9999 100%);
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.216);
    padding: 20px;
    max-width: 350px;
    z-index: 0;
    cursor: pointer;
    font-size: 1.1rem;
    /* min-width: 300px; */
    transition: all 0.4s ease;
}

.service-sec__content-box:hover {
    z-index: 1;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.service-sec_img {
    text-align: center;
    margin-bottom: 15px;
}

.service-sec__content h3 {
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.service-sec__content h3 {
    margin-bottom: 25px;
}

.service-sec__content.service-sec__content3 h3 {
    margin-bottom: 15px;
}

.service-sec__content .main-para {
    margin-bottom: 20px;
    color: #1b1b1b;
    font-weight: 500;
}

.test-point {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    margin-left: -5px;
    margin-bottom: 5px;
}

.test-point img {
    width: 4%;
    align-self: self-start;
    padding-top: 5px;
}

.test-point p {
    width: 90%;
}

.service-sec__content .points {
    margin-bottom: 5px;
    color: #1b1b1b;
    font-weight: 500;
}



/* About Page Styling -------------------------*/

.main-about {
    padding: 40px 0;
}


.main-about .main-about-heading {
    color: #333;
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'poppins';
    padding: 60px 0 40px 0;
    margin-top: 30px;
    position: relative;
    font-weight: 500;
    cursor: pointer;
    /* background-color: #ffb1cf; */
}

.main-about .main-about-heading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #d95881;
    border-radius: 20px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 2s ease-in-out 1;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    100% {
        width: 100%;
    }
}

.main-about-content-box {
    /* border: 2px solid black; */
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    padding: 40px 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);

}

.main-about-content-box .main-about-img {
    width: 45%;
    height: 600px;
    /* border: 2px solid crimson; */
}

.main-about-content-box .main-about-content {
    width: 45%;
    /* border: 2px solid green; */
    margin-top: -55px;
    color: #4a4a4a;

}

.main-about-img img {
    object-fit: cover;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.099);
}

.ceo-details .extra-ceo-details {
    display: none;
}

.main-about-img p {
    /* border: 2px solid brown; */
    margin-top: 10px;
    font-size: 1.2rem;
}

.main-about-img p span {
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
}

/* .main-about .main-about-heading{
    font-size: 2.8rem;
    color:#4a4a4a;
    font-family: 'poppins';
    text-align: center;
    padding-top: 90px;
    padding-bottom: 30px;
} */



.main-about-content h2 {
    font-size: 2.5rem;
    color: #4a4a4a;
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
}

.main-about-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    text-align: justify;
}

.main-about-content button {
    margin-left: -5px;

}

.main-about-content button a {
    color: white;
    text-decoration: none;
}

/* team member section styling */

.team-member-sec {
    box-sizing: content-box;
    height: 90vh;
    padding: 40px 0;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-heading {
    text-align: center;
    /* padding-top: 30px; */
}

.team-heading p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    letter-spacing: -1px;

}

.team-heading h4 {
    font-size: 2.8rem;
    color: #4a4a4a;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}


.slide-container {
    max-width: 1200px;
    /* border: 2px solid red; */
    width: 100%;
    margin: 40px 0;
}

.slide-content {
    padding-left: 45px;
    padding-right: 45px;
}

.card-wrapper {
    margin-bottom: 70px;
}

.card {
    border-radius: 25px;
    background-color: #fff;
}

.card-image {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}

.card-image .card-image-inside {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #f16098;
}

.card-image-content {
    row-gap: 5px;
    position: relative;
}

.card-image-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f16098;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 40px;
    height: 40px;
    background-color: #f16098;
}

.overlay::after {
    width: 45px;
    height: 40px;
    border-radius: 0px 25px 0px 0px;
    background-color: #fff;

}

.card-image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.card-content .name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}

.card-content .work-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.card-content .description {
    font-size: 1rem;
    color: #707070;
    text-align: center;
}

.slide-container .swiper-button-next,
.slide-container .swiper-button-prev {
    color: rgb(62, 62, 62);
    font-weight: 600;
    font-size: 1rem;
}

.swiper-button-next {
    padding-left: 22px;
}

.swiper-button-prev {
    padding-right: 22px;
}

/* footer */
.newsletter {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    padding: 0px;
    margin-top: 60px;
}

form .far {
    font-size: 18px;
    margin-right: 10px;
}

form input {
    width: 100%;
    background-color: transparent;
    color: #ccc;
    border: 0;
    outline: none;
    padding-bottom: 10px;

}

form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #ccc;
}